@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:1824px) 
{
/*#wrapper{
	padding: 30px;
}*/
.login_container {
    background:url("../img/img_large.jpg") no-repeat; width: 100%;}	
.login_slider img{width:100%; margin-bottom:0px;}

.login_container .top_section {
    height: 630px;
    width: 100%;
}
.login_container .top_section .top_form {   
    top: 290px;
	left: 90px;
	width: 500px;
 
}
#login_form label.error {
    float: left !important;
    font-size: 17px;
    margin: 5px 0 2px 80px !important;
    width: 500px !important;
}
#login_form2 label.error {
   float: left !important;
    font-size: 17px;
    margin: 5px 0 2px 80px !important;
    width: 500px !important;
}
.top_section .top_form .user_name {
    background-image: url("../img/login_top_icon_big.png");
    background-repeat: no-repeat;
    height: 56px;
	width: 60px;
}		
.top_form .user_name input, .top_form .password input {
    height: 52px;
    margin-left: 75px;
    width: 400px;
	font-size: 20px;
	padding-left:10px;
	border-radius: 5px;
}
.top_form .password {
    background-image: url("../img/pass_top_icon_big.png");
    background-repeat: no-repeat;
    height: 56px;
	width: 60px;
}
.top_form .login_buttons {
	width: 500px;
}
.top_form .login_now {
    background: url("../img/login_top_button_big.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
    width: 247px;
}
.top_form .sign_up {
    background: url("../img/sign_top_up_big.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 235px;
}
.top_form .remember .intern {
    font-size: 18px;
}

.top_form .remember .forget_password {
    float: right;
    font-size: 18px;
    padding-right: 10px;
}
.top_form .remember {
    float: left;
    width: 500px;
}
.top_form h3 {
    font-size: 30px;
    padding-top: 5px;
}
.section_login_left {
    line-height: 54px;
    margin-right: 20px;
    width: 59%;
}

.section_login_left p {
    font-size: 20px;
    line-height: 31px;
    margin-top: 20px;
}
.section_login_right {
    width: 525px;
}

.section_login_right h2 {
    font-size: 32px;
    padding: 24px 0;
}
.section_login_right .user_name {
    background-image: url("../img/login_icon_big.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 65px;
	margin-left: 8px;
}	
.section_login_right .password {
    background-image: url("../img/pass_icon_big.png");
    background-repeat: no-repeat;
    height: 60px;
    margin-top: 5px;
    width: 65px;
	margin-left: 8px;
}
.section_login_right .user_name input, .section_login_right .password input {
    height: 55px;
    margin-left: 80px;
    width: 377px;
	font-size: 20px;
	 padding-left:10px;
}
.section_login_right .mt20 .remember {
    font-size: 18px;
}
.section_login_right .remember .forget_password {
    font-size: 18px;
}
.section_login_right .login_now {
    background-image: url("../img/login_button_big.png");
    background-repeat: no-repeat;
    height: 62px;
    width: 205px;
	background-color: #D5E6F0;
}
.section_login_right .sign_up {
    background-image: url("../img/sign_up_big.png");
    background-repeat: no-repeat;
    height: 62px;
    width: 200px;
	background-color: #D5E6F0;
}

.section_login_left h1 {
    font-size: 40px;
}
.section_login_right .login_buttons {
    width: 480px;
	margin-left: 12px;
}
.footer_first_block { margin-left: -2%;}

.footer_first_block .footer_block_heading {
    font-size: 34px;
    line-height: 28px;
}
.footer_first_block .footer_block_heading span {
    float: left;
    font-size: 17px;
    margin-top: 5px;
}

.mt20 {
    margin: 20px 20px 0;
}
.footer_first_block ul li {font-size: 15px;font-weight: normal; line-height: 24px;}

/*26 sep 2013 Upadtes*/

.section_login_right .remember .intern { font-size: 20px;margin-top: 0;}
.footer_first_block ul{margin-top: 24px;}
.footer_block2nd_heading { padding-left: 1%;}
.footer_second_block {width: 14%;}
.footer_third_block {margin-left: -31px;margin-right: 24px;margin-top: 12px;width: 17%;}
.footer_2last_block { margin-right: 33px;width: 6%;} 
.tweet_text {font-size: 15px; line-height:23px;}
.footer_first_block ul {float: left;margin-top: 11px;}
.section_login_right .remember .intern {font-size: 19px;margin-left: 5px;margin-top: 0;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 16px;}
.main_text p {font-size: 46px;margin-left: 9px;margin-top: -2px;}
.news_text {font-size: 16px;line-height: 32px;min-height: 35px;}
.gray_text {font-size: 13px;}
h6 {color: #FFFFFF;font-size: 15px;margin-top: 3px; padding-top:3px;}
vol_table .table_footer_white {font-size: 14px;}
h2 {font-size: 23px;}
.small_font {font-size: 15px;line-height: 20px;}
.next {height: 26px;padding-left: 12px; width: 19px;}
.next:hover{height: 26px; width: 19px;padding-left: 12px; }
.prev { height: 26px;padding-left: 11px; padding-top: 5px; width: 20px;}
.prev:hover{height: 26px;padding-left: 11px; padding-top: 5px; width: 20px;}
.tab_font { font-size: 23px;}
.sponsors_text {font-size: 15px;}
.orange_butt {font-size: 16px; font-weight:normal;}
.add_text {font-size: 16px;width: 162px;}
.open1 img {width: 54px !important;}
.popbox_c {left: 145px;top: 155px;}
.popbox { right: 151px; top: 154px;}
.popbox_n {left: 209px;top: 422px;width: 530px !important;}
.open img {width: 55px !important;}  
.open2 img {width: 56px !important;}
p {font-size: 18px; line-height: 34px; text-align: justify;}
.vol_table .signup_form ul {width: 380px;}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select {font-size: 16px; height: 31px; width: 62%; padding-left: 5px;}
.vol_table .signup_form_blue label span {float:none;margin-right: 0px;text-align: right;text-transform: capitalize;width: 0px; font-size:13px;}
.vol_table .signup_form_blue ul {width: 380px; margin-left:84px;}
.vol_table .signup_form label { font-size: 15px;padding-top: 2px;}
.vol_table .signup_form label span {font-size: 13px;width: 236px;}
.contact_form label {font-size: 17px;}
.vol_table .signup_form_blue label { font-size: 17px; margin-right: -70px;}
.contact_form .submit_button {font-size: 17px; margin-left: 233px;}
.gray_text1 {font-size: 15px;}
.time_outer { background:#1fbba6 url("../img/time_outer_bg.png") repeat-x top;}
.t_col_6 { padding-top:6px; height:87%;}
.left_top_section_p .main_text {width: 38%;}
.left_top_section_p .news_text {padding: 2%; width: 53%;}
.sponser_inner span {font-size: 14px;}
.contact_form input[type="text"], .contact_form input[type="password"] {height: 31px;}
.text_style {font-size: 17px; padding-left: 5px; }
.volunteer_signup_form ul { width: 56%;}
label.error {font-size: 14px;margin: 3px 0 5px 190px;}
.signup_form ul {width: 50%;}
.contact_form label {width: 179px;}
.butt_outer {font-size: 17px;}
.popup_outer {min-height: 605px; width: 94%;}
.popup_heading {font-family: 'Conv_FuturaLT',Sans-Serif;font-size: 32px;}
.popup_text {font-family: 'Conv_FuturaLT',Sans-Serif;font-size: 20px;line-height: 35px;}
#forgot_message {font-size: 18px;margin: 0 0 1% 10%;}
.text_outer_border {border: 1px solid #CCCCCC;}
input { color: #999999;font-size: 19px; height: 33px;}
.t_col_1 {width: 16%;}
.t_col_2 { width: 27%;}
.right_plus { padding-left: 9px; width: 12%;}
.time_outer2{ background: #f37936 url("../img/outer_bg_strip.jpg") repeat-x !important ; }
.section, .profile_content_main {font-size: 18px; line-height: 32px; }
.orange_text span { height: 34px;}
.text {font-size: 20px;line-height: 35px; width: 67%;}
.section1 .img { margin-top: -65px; }
.section p{ font-size:18px;}
.save_button { margin-left: 193px; }
.signup_form label span { font-size: 13px; }
/* 4 oct */  
.add_hours {
    margin-right: 31%;
    width: 34.3%;
}
.vol_table .signup_form ul li textarea{height:32px;}
ul.left_margin label.error {
    color: #FF0000;
    left: 0;
    margin-left: -22px;
    margin-top: 5px;
    position: absolute;
    text-transform: none;
    top: 294px;
    width: 242px;
}
.profile_icon{
	width: 28px;
	height: 29px;
	border: 0;
	margin-bottom: -9px;
	margin-top: -4px;
	padding: 0px;
}
.vol_table .signup_form_blue ul li textarea {
    height: 44px;
}

/* 4 oct end */  

/* 8 oct end */

.volunteer_signup_form ul li textarea {height: 43px;}
.star_view_outer {
    background: url("../img/view_star_bg.png") repeat-y ;
    height: 184px;}
.add_hours .form_input input.orange_butt { font-size: 12px;	}
.next_preview_butt1 { width: 211px;}
.rating_icon { margin-top: 56px;}
.result_outer .r_right_section .img_wrapp img {
width: 350px;
height: 183px;
}
.profile_image {width: 211px;}

}
	
	

/* 8 oct end */



/*Updated 27/09/2013*/







/*I-pad portrait*/


/* 800*600 screens start  */
@media only screen and (min-width : 1024px) and (max-width : 1024px)
{
#header .logo{ 
	margin-left:8%; 
}
.volunteer_signup_form ul {
    width: 100%;
}
.popup_outer {
    top: 1.7%;
    width: 91.2%;
}
blockquote {
    font-size: 30px;
    margin-top: 25px;
}
.section_login_left {
    width: 60%;
}
.section_login_right {
    width: 40%;
}
.footer_2last_block {
    width: 11.5%;
	padding-bottom: 2%;
}
.signup_form ul {
    width: 100%;
}
.wrapper_left_section {
    padding: 10px 0;
    width: 100%;
}
.vol_table .t_col_6 {
    width: 12%;
}
.main_text {
    width: 12%;
}
.news_text {
    width: 82%;
}
.left_top_section {
    margin-left: 2%;
    width: 98%;
}
.wrapper_right_section {
    margin-left: 20%;
    width: 60%;
}
.time_outer2 .top_section {
    width: 83%;
}
.right_plus {
    width: 11%;
}
.vol_table .signup_form label {
    width: 25%;
}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select {
    width: 67%;
}
.vol_table .signup_form ul {
    width: 50%;
}
.vol_table .signup_form textarea {
    width: 68%;
}
.add_hours {
    margin-right: 31%;
    width: 39%;
}
.vol_table .grey label {
    width: 100%;
}
.add_hours .form_input input {
    background-color: #F7F7F7;
    box-shadow: none;
}
.top_heading {
    padding-left: 0px;
}
.width_set {
    margin-left: 24%;
}
h3{
	font-size: 17px;
}
.vol_table .signup_form_blue ul{
	width: 50%;
}
.contact_form input[type="text"], .contact_form input[type="password"] {
    width: 415px;
}
}
/* 768*1024 screens start  */
@media only screen and (min-width : 768px) and (max-width : 1023px)
{
.section_login_right .user_name input, .section_login_right .password input {
    width: 75%;
}
.section_login_right .user_name {
    margin-left: 7%;
}
.section_login_right .password {
    margin-left: 7%;
}
.section_login_left {
    width: 100%;
}
.section_login_right {
    margin-left: 25%;
    width: 50%;
}

.footer_2last_block {
    width: 15%;
	padding-bottom: 10px;
}
.footer_second_block {
    width: 15%;
}
.tweet_text {
    margin: 0;
    padding: 2px;
	font-size: 0.8em;
}
.contact_form {
    width: 100%;
}
.contact_form label {
    font-size: 12px;
    text-align: right;
    width: 140px;
}
.volunteer_signup_form {    
	margin: 10px auto auto;
    width: 100%;
}
.volunteer_signup_form label {
    font-size: 11px;
    text-align: right;
    width: 140px;
}
.volunteer_signup_form label span {
    font-size: 10px;
    width: 140px;
}
.volunteer_signup_form ul {
    width: 100%;
}

.login_container {
    background: url("../img/img1.jpg") no-repeat scroll -32px 0 rgba(0, 0, 0, 0);
    width: 100%;
}
.popup_outer {
    top: 1%;
    width: 90%;
}
.logo {
    margin-left: 5%;
}

.wrapper_left_section {
    width: 100%;
}
h3 {
    font-size: 16px;
}
.wrapper_right_section {
    margin-left: 15%;
    width: 68%;
}
.top_heading {
    padding-left: 0px;
}
.vol_table .signup_form label span {
    width: 160px;
}
.add_hours {
    margin-right: 11%;
    width: 52%;
}
.add_hours .form_input input {
    background-color: #F7F7F7;
    box-shadow: none;
}
.width_set {
    margin-left: 33% !important;
}
.submit {
    margin: 2px 155px;
}
h2 {
    font-size: 0.77em;
}
.icon_tab_small {
    padding: 7% 5.8%;
}
.small_font {
    width: 90%;
}
.vol_table .signup_form_blue label span {
    width: 160px;
}
.contact_form .submit_button1 {
    margin-left: 26%;
}
.contact_form .submit_button {
    margin-left: 29%;
}
.section1 .img {
    margin-top: 0;
}
.save_button {
    margin-left: 155px;
}
input {
    background-color: #FFFFFF;
}
#save_thumb {
    margin: 20px 190px;
}
blockquote {
    font-size: 28px;
    margin-top: 10px;
}
}
/* 768*1024 screens end  */

/*I-pad ladasca*/


/* 600*800 screens end  */
@media only screen and (min-width : 600px) and (max-width : 767px)
{
}
/* 600*800 screens end  */
/* 568*320 screens start */
@media only screen and (min-width : 568px) and (max-width : 599px)
{

/* 480*320 screens start  */
.logo {
    height: 20%;
    margin-left: -7%;
    margin-top:0;
    width: 50%;
}
.logo img{
	max-width: 100%;
}
.top_form .login_buttons {
    margin-left: 50px;
}
.top_form .login_now {
    margin-left: 0;
}
.top_form .sign_up {
    margin-left: 0;
}
#login_form label.error {
    font-size: 11.3px;
    padding: 0;
    width: 320px;
}
.top_form h3 {
    font-size: 23px;
    margin-left: 3%;
    padding-top: 4%;
    width: 95%;
}
blockquote {
    font-size: 1.37em;
    line-height: 30px;
	margin-top:7px;
}
blockquote p {
    font-size: 16px;
	line-height: 22px;
}
.section_login_left {
    width: 100%;
	margin-bottom: 10%;
}
.section_login_left h1 {
	font-size: 1.9em;
}
.section_login_left p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 0px;
}
.section_login_right {
    width: 70%;
}
.section_login_right .user_name input, .section_login_right .password input {
    width: 77%;
}
.section_login_right .login_buttons input {
    margin-bottom: 5%;
}
#login_form{
	width: 100%;
}
.footer_inner {
    width: 90%;
	padding-left: 0px;
}
.footer_first_block {
	width: 25%;
}
.footer_first_block .footer_block_heading {
    font-size: 16px;
    line-height: 20px;
}
.footer_first_block .footer_block_heading span {
    font-size: 11px;
}
.footer_first_block ul li {
    font-size: 14px;
}
.footer_second_block {
	width: 23%;
}
.footer_block2nd_heading {
    font-size: 16px;
	padding-left: 0px;
}
.footer_third_block {
    width: 23%;
}
.footer_2last_block {
    width: 22%;
	margin-left: 5%;
}
.footer_last_block {
    width: 100%;
	margin-bottom: 10%;
}
.footer_image_outer .img_outer {
    height: 89px;
    width: 90px;
}
.footer_third_block img {
    height: 100px;
    width: 100px;
}
.tweet_img_outer {
    margin-left: 5%;
    width: 22%;
}
.tweet_text_outer {
    width: 73%;
}
.popup_outer {
    min-height: 398px;
    top: 0.8%;
    width: 89.6%;
}
.popup_heading {
    font-size: 1.5em;
    font-weight: bold;
}
.popup_text {
    font-size: 1.2em;
    line-height: 20px;
}
.top_nav_outer {
    width: 58%;
}
.top_nav li {
    font-size: 11px;
    height: 30px;
    padding: 5px 0;
}
top_nav li a {;
    padding: 12px 5px;
}
.top_heading {
    padding-left: 0;
}
h1 {
    font-size: 1.2em;
    font-weight: bold;
}
h3 {
    font-size: 14px;
    line-height: 22px;
}
.wrapper_left_section {
    padding: 10px 0;
    width: 100%;
}
.left_top_section {
    margin-left: 0;
	width: 100%;
}
.top_heading_second {
    margin: 28px 0;
}
.table_head {
    margin: 5px 0;
    width: 100%;
}
.vol_table .table_head_dark {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
.vol_table .table_head_light {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
.wrapper_right_section {
    margin-left: 18%;
    padding: 10px 4px;
    width: 60%;
}
h4 {
    color: #FFFFFF;
    font-family: 'Conv_FuturaLT',Sans-Serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    width: 100%;
}
.fields {
    margin-left: 5%;
    width: 90%;
}
#left_nav_section {
    display: none;
}
#right_img_section {
    display: none;
}

#wrapper {
    width: 96%;
}
h6 {
    font-size: 9px;
}
.vol_table .t_col_1 {
    width: 16%;
}
.vol_table .t_col_2 {
    width: 22%;
}
.gray_text {
    font-size: 10px;
}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select{
	width: 55%;
}
.vol_table .signup_form ul li .grey{
	height: 120px;
}
.vol_table .signup_form textarea {
    width: 420px;
}
.vol_table .signup_form label span {
    font-size: 9px;
    margin-right: 10px;
    width: 85px;
}
.vol_table .signup_form ul li {
    width: 80px;
	margin-left: 10px;
}
.vol_table .signup_form .checkbox-label {
    width: 80px;
}
.vol_table .signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.vol_table .signup_form ul li img {
    width: 80px;
}
.add_hours {
    margin-right: 8%;
    width: 54%;
}
.add_hours .form_input input {
    background-color: #F7F7F7;
    box-shadow: none;
}
.add_hours .form_input input.orange_butt{
	width: 42%;
}
.submit_button3 {
    width: 80%;
}
.contact_form .submit_button {
}
.orange_butt {
    font-size: 9px;
}
label.error {
    margin: -3px 0 5px 100px !important;
}
ul label.error {
    left: -60px;
    top: 430px;
}
.section1 .img {
    margin-top: 0;
}
.text {
    font-size: 14px;
}
.contact_form {
    width: 100%;
}
.contact_form label {
    font-size: 11px;
    width: 125px;
}
.signup_form label {
    font-size: 11px;
}
.signup_form label span {
    text-align: left;
}
.signup_form ul {
    width: 100%;
}
.contact_form input[type="text"], .contact_form input[type="password"] {
    width: 285px;
}
.contact_form textarea{
	width: 290px;
}
.save_button {
    margin-left: 140px;
}
.contact_d_outer {
    margin-left: 2%;
    width: 98%;
}
.volunteer_signup_form {
    width: 100%;
}
.volunteer_signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.volunteer_signup_form ul li img {
    width: 80px;
}
.volunteer_signup_form ul {
    width: 100%;
}
.volunteer_signup_form ul li {
    width: 80px;
}
.profile_top {
    margin-left: 0px;
}
.upper_box_wrapper {
    bottom: 0;
    margin-right: 2%;
    position: fixed;
    right: 0;
    z-index: 2;
}
}	
@media only screen and (min-width : 480px) and (max-width : 599px)
{
}
/* 480*320 screens start  */
/* 380*685 android galaxy screens start  */
@media only screen and (min-width : 380px) and (max-width : 479px)
{
}
/* 380*685 android galaxy screens end  */
/* 320*480 screens start  */
@media only screen and (min-width : 320px) and (max-width : 479px)
{
.logo {
    height: 20%;
    margin-left: -8%;
    width: 63%;
	margin-top: 10%;
}
.logo img{
	max-width: 100%;
	max-height: 100%;
}
.login_container {
    background-image: url("../img/iphone-img.png");
    width: 100%;
}
.login_container .top_section .top_form {
    width: 100%;
	top: 140px;
}
.top_form .user_name {
    margin-left: 10px;
	width: 95%;
}
.top_form .user_name input, .top_form .password input {
    margin-left: 45px;
    width: 220px;
}
.top_form .password {
    margin-left: 10px;
	height: 25%;
	width: 95%;
}
.top_form .login_buttons {
    margin-left: 71px;
    margin-right: 70px;
    margin-top: 0;
    width: 150px;
}
.top_form .login_now {
    margin-left: 0;
}
.top_form .sign_up {
    margin-left: 0;
}
#login_form label.error {
    font-size: 11.3px;
    padding: 0;
    width: 320px;
}
.top_form .remember {
    margin-left: 4px;
    width: 100%;
}
.top_form .checkbox-label {
    width: 20px;
}
.top_form h3 {
    font-size: 13px;
	margin-left: 3%;
    width: 97%;
}
blockquote {
    font-size: 1.37em;
    line-height: 30px;
	margin-top:7px;
}
blockquote p {
    font-size: 16px;
	line-height: 22px;
}
.section_login_left {
    width: 100%;
	margin-bottom: 10%;
}
.section_login_left h1 {
    text-align: center;
	font-size: 1.9em;
}
.section_login_left p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 0px;
}
.section_login_right {
    width: 100%;
}
.section_login_right .user_name {
    margin-left: 8px;
}
.section_login_right .user_name input, .section_login_right .password input {
    width: 77%;
}
.section_login_right .password {
    margin-left: 8px;
}
.section_login_right .login_buttons {
    text-align: center;
}

.section_login_right .login_buttons input {
    margin-bottom: 5%;
}
#login_form{
	width: 100%;
}
.footer_inner {
    padding-left: 0;
    width: 85%;
}
.footer_first_block {
    width: 100%;
}
.footer_first_block .footer_block_heading {
    font-size: 18px;
    line-height: 20px;
}
.footer_first_block .footer_block_heading span {
    font-size: 12px;
}
.footer_first_block ul li {
    font-size: 14px;
}
.footer_second_block {
	width: 100%;
}
.footer_inner {
    margin: 70px auto 0;
    padding-left: 6%;
    width: 75%;
}
.footer_block2nd_heading {
    font-size: 18px;
	padding-left: 0px;
}
.footer_third_block {
    width: 100%;
	margin-top: 0px;
}
.footer_2last_block {
    width: 100%;
}
.footer_last_block {
    width: 100%;
	margin-bottom: 10%;
}
.footer_image_outer .img_outer {
    height: 89px;
    width: 90px;
}
.footer_third_block img {
    height: 100px;
    width: 100px;
}
.footer_2last_block {
    margin-left: 0;
    padding: 10%;
    width: 35%;
}
.tweet_img_outer {
    margin-left: 5%;
    width: 22%;
}
.tweet_text_outer {
    width: 73%;
}
.popup_outer {
    top: 0.4%;
    width: 86.3%;
	min-height: 398px;
}
.popup_heading {
    font-size: 1.5em;
    font-weight: bold;
}
.popup_text {
    font-size: 1.2em;
    line-height: 20px;
}
.top_nav_outer {
    width: 53%;
}
.top_nav li {
    font-size: 11px;
    height: 30px;
    padding: 5px 0;
}
top_nav li a {;
    padding: 12px 5px;
}
.top_heading {
    padding-left: 0;
}
h1 {
    font-size: 1.2em;
    font-weight: bold;
}
h3 {
    font-size: 14px;
    line-height: 22px;
}
.wrapper_left_section {
    padding: 10px 0;
    width: 100%;
}
.left_top_section {
    margin-left: 0;
	width: 100%;
}
.main_text {
    padding: 5%;
    width: 40%;
}
.news_text {
    padding: 5%;
    width: 90%;
}
.top_heading_second {
    margin: 28px 0;
}
.list {
    width: 30%;
}
.table_head {
    margin: 5px 0;
    width: 100%;
}
.vol_table .table_head_dark {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
.vol_table .table_head_light {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
.wrapper_right_section {
    margin-left: 0;
    width: 94%;
}
.time_outer2 .top_section {
    float: left;
    height: 5%;
    padding: 3%;
    text-align: center;
    width: 77%;
}
h4 {
    color: #FFFFFF;
    font-family: 'Conv_FuturaLT',Sans-Serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    width: 100%;
}
.fields {
    margin-left: 5%;
    width: 90%;
}
.right_plus {
    width: 17%;
}
#left_nav_section {
    display: none;
}
#right_img_section {
    display: none;
}

#wrapper {
    width: 96%;
}
h6 {
    font-size: 9px;
}
.vol_table .t_col_1 {
    width: 15%;
}
.vol_table .t_col_2 {
    width: 22%;
}
.gray_text {
    font-size: 10px;
}
.vol_table .signup_form label {
    font-size: 9.5px;
    margin-right: 10px;
	width: 35%;
}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select{
	width: 55%;
}
.vol_table .signup_form ul li .grey{
	height: 120px;
}
.vol_table .signup_form textarea {
    width: 280px;
}
.vol_table .signup_form label span {
    font-size: 9px;
    margin-right: 10px;
    width: 85px;
}
.vol_table .signup_form ul {
    width: 100%;
}
.vol_table .signup_form ul li {
    width: 80px;
	margin-left: 10px;
}
.vol_table .signup_form .checkbox-label {
    width: 80px;
}
.vol_table .signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.vol_table .signup_form ul li img {
    width: 80px;
}
.add_hours {
    margin-right: 10%;
    width: 82%;
}
.add_hours .form_input input {
    background-color: #F7F7F7;
    box-shadow: none;
}
.add_hours .form_input input.orange_butt{
	width: 42%;
}
.submit_button3 {
    width: 80%;
}
.contact_form .submit_button {
    margin-left: 0;
    width: 90%;
}
.orange_butt {
    font-size: 9px;
}
label.error {
    margin: -3px 0 5px 100px !important;
}
ul label.error {
    left: -60px;
    top: 430px;
}
.section1 .img {
    margin-top: 0;
}
.text {
    font-size: 14px;
}
.contact_form {
    width: 100%;
}
.contact_form label{
	width: 0px;
}
.contact_form input[type="text"], .contact_form input[type="password"]{
	width: 285px;
}
.contact_form textarea{
	width: 290px;
}
.save_button {
    margin-left: 140px;
}
.contact_d_outer {
    margin-left: 2%;
    width: 98%;
}
.volunteer_signup_form {
    width: 100%;
}
.volunteer_signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.volunteer_signup_form ul li img {
    width: 80px;
}
.volunteer_signup_form ul {
    width: 100%;
}
.volunteer_signup_form ul li {
    width: 80px;
	margin-left: 10px;
}	
.profile_top {
    margin-left: 0px;
}
.upper_box_wrapper {
    bottom: 0;
    margin-right: 2%;
    position: fixed;
    right: 0;
    z-index: 2;
}
.signup_form {
    margin: 10px auto auto;
    width: 100%;
}
.signup_form ul {
    width: 100%;
}
.signup_form ul li {
    width: 80px;
	margin-left: 10px;
}
.signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.signup_form ul li img {
    width: 80px;
}
.oran_butt{
	padding: 1% 5%;
}
.section .logo_div img {
    margin-left: -220px;
    width: 249px;
}
.open img {
    width: 24px !important;
}
.popbox {   
    right: -216px;   
    top: 62px;   
}
.open1 img {
    width: 24px !important;
}
.popbox_c {
    left: -50px; top: 61px;
   
}
.open2 img {
    width: 24px !important;
}
.popbox_n {
    left: 71px;  
    top: 171px;   
}
.section .logo_div {
    height: 269px;
   
}
.butt_outer {
    float: left;
    margin-bottom: 10px;
    margin-left: 22px;
    margin-top: -4px;
    width: 100%;
}
.section h1 { text-align: center;}


}
/* 320*480 screens start  */ 
@media only screen and (min-width : 480px) and (max-width : 567px)
{
.logo {
    height: 20%;
    margin-left: -7%;
    margin-top:0;
    width: 63%;
}
.logo img{
	max-width: 100%;
}
.top_form .login_buttons {
    margin-left: 50px;
}
.top_form .login_now {
    margin-left: 0;
}
.top_form .sign_up {
    margin-left: 0;
}
#login_form label.error {
    font-size: 11.3px;
    padding: 0;
    width: 320px;
}
.wrapper_right_section {
    margin-left: 10%;
    width: 75%;
}
.top_form h3 {
    font-size: 23px;
    margin-left: 3%;
    padding-top: 4%;
    width: 95%;
}
blockquote {
    font-size: 1.37em;
    line-height: 30px;
	margin-top:7px;
}
blockquote p {
    font-size: 16px;
	line-height: 22px;
}
.section_login_left {
    width: 100%;
	margin-bottom: 10%;
}
.section_login_left h1 {
	font-size: 1.9em;
}
.section_login_left p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 0px;
}
.section_login_right {
    width: 100%;
}
.section_login_right .user_name input, .section_login_right .password input {
    width: 77%;
}
.section_login_right .login_buttons input {
    margin-bottom: 5%;
}
#login_form{
	width: 100%;
}
.footer_inner {
    width: 90%;
	padding-left: 0px;
}
.footer_first_block {
	width: 25%;
}
.footer_first_block .footer_block_heading {
    font-size: 16px;
    line-height: 20px;
}
.footer_first_block .footer_block_heading span {
    font-size: 11px;
}
.footer_first_block ul li {
    font-size: 14px;
}
.footer_second_block {
	width: 23%;
}
.footer_block2nd_heading {
    font-size: 16px;
	padding-left: 0px;
}
.footer_third_block {
    width: 23%;
}
.footer_2last_block {
    width: 22%;
	margin-left: 5%;
}
.footer_last_block {
    width: 100%;
	margin-bottom: 10%;
}
.footer_image_outer .img_outer {
    height: 89px;
    width: 90px;
}
.footer_third_block img {
    height: 100px;
    width: 100px;
}
.tweet_img_outer {
    margin-left: 5%;
    width: 22%;
}
.tweet_text_outer {
    width: 73%;
}
.popup_outer {
    min-height: 398px;
    top: 0.8%;
    width: 89.6%;
}
.popup_heading {
    font-size: 1.5em;
    font-weight: bold;
}
.popup_text {
    font-size: 1.2em;
    line-height: 20px;
}
.top_nav_outer {
    width: 47%;
}
.top_nav li {
    font-size: 11px;
    height: 30px;
    padding: 5px 0;
}
top_nav li a {;
    padding: 12px 5px;
}
.top_heading {
    padding-left: 0;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-size: 14px;
    line-height: 22px;
}
.wrapper_left_section {
    padding: 10px 0;
    width: 100%;
}
.left_top_section {
    margin-left: 0;
	width: 100%;
}
.top_heading_second {
    margin: 28px 0;
}
.table_head {
    margin: 5px 0;
    width: 100%;
}
.vol_table .table_head_dark {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
.vol_table .table_head_light {
    line-height: 12px;
    margin-left: 0;
    width: 100%;
}
h4 {
    color: #FFFFFF;
    font-family: 'Conv_FuturaLT',Sans-Serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    width: 100%;
}
.fields {
    margin-left: 5%;
    width: 90%;
}
#left_nav_section {
    display: none;
}
#right_img_section {
    display: none;
}

#wrapper {
    width: 96%;
}
h6 {
    font-size: 9px;
}
.vol_table .t_col_1 {
    width: 16%;
}
.vol_table .t_col_2 {
    width: 22%;
}
.gray_text {
    font-size: 10px;
}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select{
	width: 55%;
}
.vol_table .signup_form ul li .grey{
	height: 120px;
}
.vol_table .signup_form textarea {
    width: 420px;
}
.vol_table .signup_form label span {
    font-size: 9px;
    margin-right: 10px;
    width: 85px;
}
.vol_table .signup_form ul li {
    width: 80px;
	margin-left: 10px;
}
.vol_table .signup_form .checkbox-label {
    width: 80px;
}
.vol_table .signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.vol_table .signup_form ul li img {
    width: 80px;
}
.add_hours {
    margin-right: 8%;
    width: 54%;
}
.add_hours .form_input input {
    background-color: #F7F7F7;
    box-shadow: none;
}
.add_hours .form_input input.orange_butt{
	width: 42%;
}
.submit_button3 {
    width: 80%;
}
.orange_butt {
    font-size: 9px;
}
label.error {
    margin: -3px 0 5px 100px !important;
}
ul label.error {
    left: -60px;
    top: 430px;
}
.section1 .img {
    margin-top: 0;
}
.text {
    font-size: 14px;
}
.contact_form {
    width: 100%;
}
.contact_form label {
    font-size: 11px;
    width: 125px;
}
.signup_form label {
    font-size: 11px;
}
.signup_form label span {
    text-align: left;
}
.signup_form ul {
    width: 100%;
}
.contact_form input[type="text"], .contact_form input[type="password"] {
    width: 285px;
}
.contact_form textarea{
	width: 290px;
}
.save_button {
    margin-left: 140px;
}
.contact_d_outer {
    margin-left: 2%;
    width: 98%;
}
.volunteer_signup_form {
    width: 100%;
}
.volunteer_signup_form ul li input[type="checkbox"] + label span {
    height: 80px;
    width: 80px;
}
.volunteer_signup_form ul li img {
    width: 80px;
}
.volunteer_signup_form ul {
    width: 100%;
}
.volunteer_signup_form ul li {
    width: 80px;
}
.profile_top {
    margin-left: 0px;
}
.upper_box_wrapper {
    bottom: 0;
    margin-right: 2%;
    position: fixed;
    right: 0;
    z-index: 2;
}	
}
