@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:1824px) 
{
/*#wrapper{
	padding: 30px;
}*/
.login_container {
    background:url("../img/img_large.jpg") no-repeat; width: 100%;}	
.login_slider img{width:100%; margin-bottom:0px;}

.login_container .top_section {
    height: 630px;
    width: 100%;
}
.login_container .top_section .top_form {   
    top: 290px;
	left: 90px;
	width: 500px;
 
}
#login_form label.error {
    float: left !important;
    font-size: 17px;
    margin: 5px 0 2px 80px !important;
    width: 500px !important;
}
#login_form2 label.error {
   float: left !important;
    font-size: 17px;
    margin: 5px 0 2px 80px !important;
    width: 500px !important;
}
.top_section .top_form .user_name {
    background-image: url("../img/login_top_icon_big.png");
    background-repeat: no-repeat;
    height: 56px;
	width: 60px;
}		
.top_form .user_name input, .top_form .password input {
    height: 52px;
    margin-left: 75px;
    width: 400px;
	font-size: 20px;
	padding-left:10px;
	border-radius: 5px;
}
.top_form .password {
    background-image: url("../img/pass_top_icon_big.png");
    background-repeat: no-repeat;
    height: 56px;
	width: 60px;
}
.top_form .login_buttons {
	width: 500px;
}
.top_form .login_now {
    background: url("../img/login_top_button_big.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
    width: 247px;
}
.top_form .sign_up {
    background: url("../img/sign_top_up_big.png") no-repeat scroll 0 0 transparent;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 235px;
}
.top_form .remember .intern {
    font-size: 18px;
}

.top_form .remember .forget_password {
    float: right;
    font-size: 18px;
    padding-right: 10px;
}
.top_form .remember {
    float: left;
    width: 500px;
}
.top_form h3 {
    font-size: 30px;
    padding-top: 5px;
}
.section_login_left {
    line-height: 54px;
    margin-right: 20px;
    width: 59%;
}

.section_login_left p {
    font-size: 20px;
    line-height: 31px;
    margin-top: 20px;
}
.section_login_right {
    width: 525px;
}

.section_login_right h2 {
    font-size: 32px;
    padding: 24px 0;
}
.section_login_right .user_name {
    background-image: url("../img/login_icon_big.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 65px;
	margin-left: 8px;
}	
.section_login_right .password {
    background-image: url("../img/pass_icon_big.png");
    background-repeat: no-repeat;
    height: 60px;
    margin-top: 5px;
    width: 65px;
	margin-left: 8px;
}
.section_login_right .user_name input, .section_login_right .password input {
    height: 55px;
    margin-left: 80px;
    width: 377px;
	font-size: 20px;
	 padding-left:10px;
}
.section_login_right .mt20 .remember {
    font-size: 18px;
}
.section_login_right .remember .forget_password {
    font-size: 18px;
}
.section_login_right .login_now {
    background-image: url("../img/login_button_big.png");
    background-repeat: no-repeat;
    height: 62px;
    width: 205px;
	background-color: #D5E6F0;
}
.section_login_right .sign_up {
    background-image: url("../img/sign_up_big.png");
    background-repeat: no-repeat;
    height: 62px;
    width: 200px;
	background-color: #D5E6F0;
}

.section_login_left h1 {
    font-size: 40px;
}
.section_login_right .login_buttons {
    width: 480px;
	margin-left: 12px;
}
.footer_first_block { margin-left: -2%;}

.footer_first_block .footer_block_heading {
    font-size: 34px;
    line-height: 28px;
}
.footer_first_block .footer_block_heading span {
    float: left;
    font-size: 17px;
    margin-top: 5px;
}

.mt20 {
    margin: 20px 20px 0;
}
.footer_first_block ul li {font-size: 15px;font-weight: normal; line-height: 24px;}

/*26 sep 2013 Upadtes*/

.section_login_right .remember .intern { font-size: 20px;margin-top: 0;}
.footer_first_block ul{margin-top: 24px;}
.footer_block2nd_heading { padding-left: 1%;}
.footer_second_block {width: 14%;}
.footer_third_block {margin-left: -31px;margin-right: 24px;margin-top: 12px;width: 17%;}
.footer_2last_block { margin-right: 33px;width: 6%;} 
.tweet_text {font-size: 15px; line-height:23px;}
.footer_first_block ul {float: left;margin-top: 11px;}
.section_login_right .remember .intern {font-size: 19px;margin-left: 5px;margin-top: 0;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 16px;}
.main_text p {font-size: 46px;margin-left: 9px;margin-top: -2px;}
.news_text {font-size: 16px;line-height: 32px;min-height: 35px;}
.gray_text {font-size: 13px;}
h6 {color: #FFFFFF;font-size: 15px;margin-top: 3px; padding-top:3px;}
vol_table .table_footer_white {font-size: 14px;}
h2 {font-size: 23px;}
.small_font {font-size: 15px;line-height: 20px;}
.next {height: 26px;padding-left: 12px; width: 19px;}
.next:hover{height: 26px; width: 19px;padding-left: 12px; }
.prev { height: 26px;padding-left: 11px; padding-top: 5px; width: 20px;}
.prev:hover{height: 26px;padding-left: 11px; padding-top: 5px; width: 20px;}
.tab_font { font-size: 23px;}
.sponsors_text {font-size: 15px;}
.orange_butt {font-size: 16px; font-weight:normal;}
.add_text {font-size: 16px;width: 162px;}
.open1 img {width: 54px !important;}
.popbox_c {left: 145px;top: 155px;}
.popbox { right: 151px; top: 154px;}
.popbox_n {left: 209px;top: 422px;width: 530px !important;}
.open img {width: 55px !important;}  
.open2 img {width: 56px !important;}
p {font-size: 18px; line-height: 34px; text-align: justify;}
.vol_table .signup_form ul {width: 380px;}
.vol_table .signup_form input[type="text"], .vol_table .signup_form select {font-size: 16px; height: 31px; width: 62%; padding-left: 5px;}
.vol_table .signup_form_blue label span {float:none;margin-right: 0px;text-align: right;text-transform: capitalize;width: 0px; font-size:13px;}
.vol_table .signup_form_blue ul {width: 380px; margin-left:84px;}
.vol_table .signup_form label { font-size: 15px;padding-top: 2px;}
.vol_table .signup_form label span {font-size: 13px;width: 236px;}
.contact_form label {font-size: 17px;}
.vol_table .signup_form_blue label { font-size: 17px;}
.contact_form .submit_button {font-size: 17px; margin-left: 216px;}
.gray_text1 {font-size: 15px;}
.time_outer { background:#1fbba6 url("../img/time_outer_bg.png") repeat-x top;}
.t_col_6 { padding-top:6px; height:87%;}
.left_top_section_p .main_text {width: 38%;}
.left_top_section_p .news_text {padding: 2%; width: 53%;}
.sponser_inner span {font-size: 14px;}
.contact_form input[type="text"], .contact_form input[type="password"] {height: 31px;}
.text_style {font-size: 17px; padding-left: 5px; }
.volunteer_signup_form ul { width: 56%;}
label.error {font-size: 14px;margin: 3px 0 5px 190px;}
.signup_form ul {width: 50%;}
.contact_form label {width: 179px;}
.butt_outer {font-size: 17px;}
.popup_outer {min-height: 605px; width: 94%;}
.popup_heading {font-family: 'Conv_FuturaLT',Sans-Serif;font-size: 32px;}
.popup_text {font-family: 'Conv_FuturaLT',Sans-Serif;font-size: 20px;line-height: 35px;}
#forgot_message {font-size: 18px;margin: 0 0 1% 10%;}
.text_outer_border {border: 1px solid #CCCCCC;}
input { color: #999999;font-size: 19px; height: 33px;}
.t_col_1 {width: 16%;}
.t_col_2 { width: 27%;}
.right_plus { padding-left: 9px; width: 12%;}
.time_outer2{ background: #f37936 url("../img/outer_bg_strip.jpg") repeat-x !important ; }
.section, .profile_content_main {font-size: 18px; line-height: 32px; }
.orange_text span { height: 34px;}
.text {font-size: 20px;line-height: 35px; width: 67%;}
.section1 .img { margin-top: -65px; }
.section p{ font-size:20px;}
.save_button { margin-left: 193px; }
.signup_form label span { font-size: 13px; }
/* 4 oct */  
.add_hours {
    margin-right: 31%;
    width: 34.3%;
}
.vol_table .signup_form ul li textarea{height:41px;}
ul.left_margin label.error {
    color: #FF0000;
    left: 0;
    margin-left: -22px;
    margin-top: 5px;
    position: absolute;
    text-transform: none;
    top: 294px;
    width: 242px;
}
.profile_icon{
	width: 28px;
	height: 29px;
	border: 0;
	margin-bottom: -9px;
	margin-top: -4px;
	padding: 0px;
}
.vol_table .signup_form_blue ul li textarea {
    height: 44px;
}

/* 4 oct end */  





/*Updated 27/09/2013*/






/*I-pad ladasca*/
@media only screen and (min-width: 1024px) and (max-width: 767px)
{
.logo {height: auto; left: 60px; margin: 0; top: 0px; width: 37%;}
.logo img{	max-width:100%;}
.top_nav li a { font-size: 14px; padding: 9px 5px;}
.c_profile {  margin-right: 15%;}
.link_text{	font-size:9px;}
/*main section start {SAhil}*/
#main_section {  margin-top: 10px;}
.top_heading{padding-left:0px;}
.top_heading h1{font-size: 2em;}
.top_heading h3{font-size: 16px;line-height:28px;}
.top_section h4{ font-size: 1.2em; line-height: 19px;}
.large_font{font-size:2.8em;}
.main_text p { font-size: 1.7em; line-height: 38px;}
.news_text span{font-size:11px;}
.fields { margin-left: 0; width: 100%;}
.top_heading_second { margin: 20px 10px;}
.list { float: left; width: 19%;}
.t_col_2{width:29%;}
.t_col_2 h6{ display: inline-table; font-size: 8px; line-height: 16px; vertical-align: middle;}
.t_col_1.right_border > h6{font-size: 10px;}
.t_col_2.right_border > h6 
{
    font-size: 10px;
}
.t_col_3.right_border > h6 
{
    font-size: 10px;
}
.t_col_4.right_border > h6 
{
    font-size: 10px;
}
.t_col_5.right_border > h6 
{
    font-size: 10px;
}
.t_col_6 > h6 
{
    font-size: 10px;
}

.gray_text 
{
    font-size: 9px;
    line-height: 13px;
}
.text_tab h2
{
	font-size:13px;
}
.icon_tab_small 
{
    background: none repeat scroll 0 0 #FF7E00;
    float: right;
    padding: 7px 8px 7px 3px;
    width: 10%;
}
.text_tab_small h2
{
	font-size:13px;	
}
.right_text_tab
{
	font-size:18px;
}
.tab_font 
{
    font-size: 13px;
    line-height: 17px;
}
.small_font
{
	font-size:12px;
}
.black_text 
{
    font-size: 0.9em;
    line-height: 13px;
}
.black_text_thin 
{
    font-size: 10px;
    line-height: 14px;
}
.orange_butt
{
	line-height:14px;
	font-size:0.8em;
}
.sponser_inner h6
{
    font-size: 11px;
    line-height: 15px;
}
.upper_box
{
	width:65%;
}
.upper_box .left_section_upper
{
	width:19% !important ; padding-top:2%;  
}
.upper_box .right_section_upper 
{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 72%;
}
.client_img_outer 
{
    float: left;
    width: 26%;
}
.client_detail 
{
    float: left;
    margin-left: 3%;
    width: 70%;
}
.client_detail h3
{
    font-size: 16px;
    line-height: 24px;
	margin-top:5px;
}
.light_gray 
{
    font-size: 13px;
}

.footer_first_block .footer_block_heading { font-size:14px; font-weight:bold; padding-left:0;}
.footer_first_block .footer_block_heading span{ font-size:10px;}
.footer_first_block ul{ margin-top:20px;}
.footer_first_block ul li{ font-size:12px; }
.footer_second_block{ margin-left:4%; width:23%;}
.footer_block2nd_heading{ font-size:14px; font-weight:bold;}
.footer_image_outer .img_outer{ max-height:60px; max-width:60px;}
.footer_second_block ul 
{
width: 25%;	
	 }

.footer_2last_block{ padding-left:3px; width:10.5%;}	 
.footer_2last_block ul li img{width:100%;}	
.footer_block_heading, .footer_2last_block ul li h3{ font-size:12px;}
.footer_third_block{width:8%;} 
.tweet_text{ font-size:0.7em}

/*main section end {SAhil}*/
/*Login page Css*/
.section_login_left 
{
       width: 61%;
	   padding-bottom:8px; margin-left: 9px;
}

.section_login_right {
    margin-left: 84px;
    width: 274px;
}
/*Login page Css End*/
.section1 .img {   
    margin-top:2px;
  
}
.contact_form label { font-size: 9px; line-height: 15px;}
.volunteer_signup_form .remeber label.intern,.signup_form .remeber label.intern {font-size: 9px;}
.volunteer_signup_form label,.signup_form label { width: 72%;}
.volunteer_signup_form .grey label,.signup_form .grey label { width: 100%;}
.volunteer_signup_form ul,.signup_form ul { margin-left: 5px; width: 100%;}
.volunteer_signup_form label span,.signup_form label span {  width: 100%;}
.volunteer_signup_form ul li.first,.signup_form ul li.first { margin-left: 15px;}
.volunteer_signup_form ul li.last,.signup_form ul li.last { width: 28%;}
.contact_form .submit_button1 { width: 45%;}
.grey .input { width: 37%;}

.label_size {text-align: center !important;width: 100% !important;}
.volunteer_signup_form ul li.last, .signup_form ul li.last {width: 56%;}
.vol_table .signup_form label span {text-align: center;width: 100% ;}
.vol_table .signup_form ul { margin-left: 43px; width: 99%;}
.w35{ width:40% !important ;}
#header .logo{
	margin-left: 80px!important;
}

.top_section h4 { font-size: 19px;
   
}

/*I-pad portrait End*/
}
/*I-pad portrait*/
