@charset "utf-8";
/* CSS Document */

*{
	margin:0px; padding:0px;
}
body{
	font-family: 'Conv_FuturaLT';
	font-size:13px;
}
@font-face {
	font-family: 'Conv_FuturaLT';
	src: url('../fonts/FuturaLT.eot');
	src: local('☺'), url('../fonts/FuturaLT.woff') format('woff'), url('../fonts/FuturaLT.ttf') format('truetype'), url('../fonts/FuturaLT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_League_Gothic';
	src: url('../fonts/League_Gothic.eot');
	src: local('☺'), url('../fonts/League_Gothic.woff') format('woff'), url('../fonts/League_Gothic.ttf') format('truetype'), url('../fonts/League_Gothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.popup_heading{
	color:#666;
	font-family: 'Conv_FuturaLT';
	text-transform: uppercase;
}
.popup_text{
	padding: 3px 0px 15px 0px;
	color: #666;
	font-family: 'Conv_FuturaLT';
	font-size: 13px;
	}
h1,h2,h3,h4,h5,ul,li,a,p{
	margin:0px; padding:0px; list-style:none; text-decoration:none;
}
#main_page{
	width:100%;
	float:left;
}
#wrap{
	width:998px;
	margin:0 auto;
}
#content_area{
	float:left;
	width:998px;
}
.login_page{
	background:#ebf6f5;
}
.logo{
	float:left;
	width:100%;
	text-align:center;
	margin-top:50px;
	}
.login_main{
	width:998px;
	float:left;
}
.login_left{
	float:left;
	width:499px;
	margin-top:50px;
}
.login_right{
	float:right;
	width:422px;
	margin-top:70px;
}
.login {
	
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 340px;
  background: white;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  margin-left:160px;
 /* For IE */  
	filter:
	progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#bdbebe'),
    progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#bdbebe'),
    progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#bdbebe'),
    progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#bdbebe'),
	;
          
 }
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  border-radius: 4px;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width:308px;
}
.login p.forget-password{
  font-size: 12px;
  float: right;
  padding-bottom:11px;
  color: #666;
}
.login p.forget-password a{
  cursor: pointer;
  text-decoration:none;
  color: #666;
}
.login p.forget-password a:hover{
  cursor: pointer;
  text-decoration:underline;
  color: #666;
}
.login p.remember_me {
  float: left;
  padding-bottom: 20px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
  color:#666;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
.login_left input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

.login_left input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width:308px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login_left input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.login_left input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.login_left input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.login_right h1{
	font-family: 'Conv_FuturaLT';
	font-size:32px;
	color:#a1a1a1;
	font-weight:100;
	float:left;
	margin-top:55px;
}
h1 span{
	font-family: 'Conv_FuturaLT';
	font-size:32px;
	color:#ff7500;
	font-weight:100;
}
.separators{
	float:left;
	text-align:center;
	padding-top:45px;
}
.category_text{
	font-family: 'Conv_FuturaLT';
	font-size:50px;
	color:#a1a1a1;
	text-align:center;
	float:left;	
	font-weight:100;
	margin: 20px 0px;
	width:100%;
}
.graph_bg{
	float:left;
	width:100%;
	background:url(../img/graph_bg2.png) no-repeat bottom center;
	height:589px;
	margin-top:35px;
	text-align:center;
	position:relative;
}
.graph_triangle{
	float:left;
	width:100%;
	background:url(../img/triangle.png) no-repeat bottom center;
	height:307px;
	margin-top:35px;
	text-align:center;
	position:relative;
}
.graph_text{
	font-family: 'Conv_FuturaLT';
	font-size:16px;
	color:#1b2652;
	text-align:center;
	float:left;	
	font-weight:100;
	width:100%;
	line-height:18px;
	height:340px;
}
.graph_text p{
	margin-top:185px;
	font-size: 15px;
	line-height: 20px;
}
.graph_text h2{
	font-family: 'Conv_League_Gothic';
	font-size:25px;
	color:#1b2652;
	text-align:center;
	float:left;	
	font-weight:100;
	width:100%;
	line-height:30px;
}
.com_box_blue{
	float:left;
	background:url(../img/com_box_blue.png) no-repeat bottom center;
	width:85px;
	height:87px;
	position:absolute;
	top:52px;
	left:261px;
}
.com_box_blue p{
	font-family: 'Conv_League_Gothic';
	color:#fff;
	font-size:20px;
	line-height:20px;
	margin-top:11px;
}
.com_box_blue p a{
	color:#fff;
}
.com_box_anchor
{
	float: left;
	width: 59px;
	height: 57px;
	margin-top: 46px;
	margin-left: 74px;
}
.com_box_green{
	float:left;
	background:url(../img/com_box_green.png) no-repeat bottom center;
	width:85px;
	height:87px;
	position:absolute;
	top:55px;
	left: 670px;
}
.com_box_green p{
	font-family: 'Conv_League_Gothic';
	color:#fff;
	font-size:20px;
	line-height:20px;
	margin-top:24px;
}
.com_box_green p a{
	color:#fff;
}
.com_box_anchorgreen
{
	float: left;
	width: 59px;
	height: 57px;
	margin-top: 54px;
	margin-left: 0;
	position: relative;
	left: -35px;
}

.com_box_orange{
	float:left;
	background:url(../img/com_box_orange.png) no-repeat bottom center;
	width:85px;
	height:87px;
	position:absolute;
	top: 482px;
	right: 508px;
}
.com_box_orange p{
	font-family: 'Conv_League_Gothic';
	color:#fff;
	font-size:20px;
	line-height:20px;
	margin-top:31px;
}
.com_box_orange p a{
	color:#fff;
}
.com_box_anchororange
{
	float: left;
	width: 59px;
	height: 57px;
	margin-top: -146px;
	margin-left: 0;
	position: relative;
	left: 64px;
}
#footer_main{
	width:100%;
	float:left;
	background:url(../img/footer_top.png) no-repeat top center;
	height:82px;
	position:relative;
}
#footer_wrap{
	width:100%;
	background:#333;
	height:188px;
	position:absolute;
	top:82px;
	}
#footer_content_area{
	width:998px;
	background:url(../img/footer_mid.jpg) no-repeat -1px 0px;
	height:188px;
	margin: 0 auto;
	text-align:center;
}
.footer_shd{
	width:100%;
	background:url(../img/footer_shd.png) repeat-x;
	height:80px;
	position:absolute;
	bottom:0px;
}		

	
.footer_link{	
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 999;
	width: 370px;
	margin: 0 auto;
	top: 55px;
	right: -30px;
	}
.footer_link a{
	color: #000;
	text-decoration:none;
}
.footer_link p{
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 999;
	width: auto;
	margin-right: 25px;
	}
.footer_link_inner{	
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 999;
	width:330px;
	margin: 0 auto;
	top: 55px;
	right: -30px;
	}
.footer_link_inner p{
	color: #ccc;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 999;
	width: auto;
	margin-right: 25px;
	top:-28px;
	}
.footer_link_inner p a{
	color: #ccc;
	text-decoration:none;
	}
.footer_link_inner p a:hover{
	color: #ccc;
	text-decoration:underline;
	}
#footer_content_area img{
	margin-top:35px;
}
#header_inner_pages{
	background:#e6e1e1;
	height:98px;
	float:left;
	width:998px;
}
#header_inner_pages_organization{
	background:#daedfc;
	height:98px;
	float:left;
	width:998px;
}
#header_inner_pages_organization .logo_inner{
	float:left;
	width:370px;
	margin-left:15px;
}
#header_inner_pages_organization .logo_inner img{
	border:none;
}
#header_inner_pages .logo_inner{
	float:left;
	width:370px;
	margin-left:15px;
}
#header_inner_pages .logo_inner img{
	border:none;
}
.profile_outer{
	float:right;
	width:550px;
	position:relative;
}
.profile{
	float:right;
	padding:1px;
	margin-left:10px;
	-moz-box-shadow:0 0 6px 1px #ccc;
	-webkit-box-shadow:0 0 6px 1px #ccc;
	box-shadow:0 0 6px 1px #ccc;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	margin:6px;
}
.profile_logout img{
	float:right;
	width:34px;
	height:34px;
	position:absolute;
	right:0;
	bottom:0;
	border:none;
}
.profile img{
	width:76px;
	height:76px;
	border:solid 3px #b7dbdc;	
}
.profile_name{
	float:right;
	padding:5px;
}
.profile_name p{
	color:#6b6b6b;
	text-align:right;
	margin-top:5px;
	text-transform:uppercase;
}
.profile_name span{
	font-family: 'Conv_FuturaLT';
	font-size:25px;
	letter-spacing:0.8px;
	line-height:28px;
	color:#6b6b6b;
}
.profile_name small{
	color:#6b6b6b;
	font-style:italic;
	text-transform:uppercase;
}
.mid_mid_outr
{
	width:100%;
	float:left;
	background:#fff url(../img/left_panel_bg.jpg) repeat-y top left;
}
.mid_left{
	
	
	width:262px;
	float:left;
	background: #f1f1f1;
	/*height:1136px;*/
	border-left:solid 1px #d1cfcf;
	border-right:solid 1px #d1cfcf;
}
.mid_left2{
	width:262px;
	float:left;
	background: #f1f1f1;
	border-left:solid 1px #d1cfcf;
	border-right:solid 1px #d1cfcf;
}
.mid_right{
	width:730px;
	float:right;
}
.search_bar{
	float:left;
	padding:10px;
	width:240px;	
}
.search_bar .input{
	background:#fff;
	border: 1px solid #ccc;
	width:184px;
	line-height:21px;
	height:21px;
	padding:3px 7px;
	padding-left:8px;
	float:left;	
	-webkit-border-radius: 5px 0px 0px 5px;-moz-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;
	color:#556067;
	font-size:11px;
	outline:none;
}
.next_steps{
	float:right;
	background:#979797;
	-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;
	width:240px;
	height:112px;
	position:relative;	
}
.next_steps a{
	color:#fff;
	text-decoration:none;
}
.next_steps_footer{
	position:absolute;
	width:238px;
	height:9px;
	margin-top: 98px;
	margin-left: 14px;
}
.next_steps h1{
	font-family: 'Conv_League_Gothic';
	font-size:33px;
	letter-spacing:0.8px;
	line-height:35px;
	color:#fff;
	font-weight:100;
	float:left;
	padding:17px 0px 0px 15px;
}
.next_steps p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:17px;
	color:#fff;
	float:left;
	padding:0px 0px 0px 14px;
}
.next_steps img{
	float:right;
	padding:5px 8px 0px 0px;
	border:none;
}
.mid_left_nav{
	float:left;
}
.mid_left_nav ul{
	width:100%;
}
.mid_left_nav ul li{
	float:left;
	width:auto;
	width:262px;
}
.mid_left_nav ul li a{
	float:left;
	font-size:14px;
	font-weight:bold;
	width:87%;
	padding:6px 18px;
	color:#737c80;
	background:#e0e0e0;
	border-bottom:1px solid #d1cfcf;
	text-decoration:none;
	text-transform:uppercase;
}
.mid_left_nav .mid_left_nav_fade
{
	float:left;
	font-size:14px;
	font-weight:bold;
	width:87%;
	padding:6px 18px;
	color:#737c80;
	background:#e0e0e0;
	border-bottom:1px solid #d1cfcf;
	text-decoration:none;
	text-transform:uppercase;
	cursor:text;
}
.mid_left_nav ul li a:hover{
	background:#47a6d2;
	color:#fff;
	text-decoration:none;
}
.mid_left_nav .mid_left_nav_fade:hover{
	background:#47a6d2;
	opacity:0.5;
	color:#fff;
	text-decoration:none;
}
.mid_left_nav ul li p{
	float:left;
	width:81%;
	line-height:25px;
}
.mid_left_nav ul li a img{
	padding-right:5px;
	float:left;
	border:none;
}
.mid_left_nav ul li span{
	float:left;
	font-weight:bold;
	width:86%;
	padding:6px 18px;
	color:#737c80;
	font-size:10px;
	background:#fff;
	border-bottom:1px solid #d1cfcf;
	text-decoration:none;
	line-height:20px;
	text-transform:uppercase;
}
.mid_left_nav ul li span a{
	color:#737c80;
	padding:0px;
	background:none;
	border:none;
	font-size:10px;	
}
.mid_left_nav ul li span a:hover{
	text-decoration:none;
	color:#333;
	background:none;
}
.left_profile_nav{
	padding-left:15px;
	background:#fafafa;
	float:left;
	border-bottom:1px solid #d1cfcf;
	
}
.left_profile_nav span{
	font-size:12px;
	float:left;
	color:#737c80;
	line-height:18px;
	font-weight:bold;
	padding-top:15px;
	text-transform:uppercase;	
}
.left_profile_nav ul{
	width:100%;
}
.left_profile_nav ul li{
	float:left;
	width:auto;
	width:210px;
}
.left_profile_nav ul li a{
	float:left;
	font-size:11px;
	width:210px;
	line-height:20px;
	color:#737c80;
	padding-left:15px;
	text-transform:uppercase;
	text-decoration:none;
}
.left_profile_nav ul li a:hover{
	background:#47a6d2;
	color:#fff;
	opacity:0.5;
	text-decoration:none;
	cursor:text;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.left_profile_nav ul li p{
	float:left;
	width:81%;
	line-height:20px;
}
.left_profile_nav ul li .last{
	border-bottom:1px solid #ccc;
}
.left_profile_nav h2{
	font-size:12px;
	float:left;
	color:#737c80;
	line-height:18px;
	font-weight:bold;
	padding-top:15px;
	text-transform:uppercase;	
}
.heading_gray{
	font-size:12px;
	float:left;
	color:#333;
	width:247px;
	line-height:18px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	text-transform:uppercase;
}
.heading_gray a{
	color:#737c80;
	text-decoration:none;
}
.heading_gray a;hover{
	color:#737c80;
	text-decoration:none;
}
.main_heading{
	width:100%;
	font-family: 'Conv_FuturaLT';
	font-size:35px;
	color:#737c80;
	padding:15px;
	font-weight:100;
	margin-top: 11px;
}
h5{
	width:100%;
	font-family: 'Conv_FuturaLT';
	font-size:35px;
	color:#737c80;
	font-weight:100;
	margin-top: 11px;
}
h6{
	width:100%;
	float:left;
	font-family: 'Conv_FuturaLT';
	font-size:38px;
	color:#737c80;
	font-weight:100;
	margin-top:13px;	
}
.mid_sub_left{
	width:450px;
	float:left;
}
.mid_sub_right{
	width:240px;
	float:right;
}
.records_perpage_main{
	width:100%;
	float:left;
}
.records_perpage_left{
	width:190px;
	float:left;
	margin-bottom:10px;
}
.records_perpage_left select{
	-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	border:1px solid #d1cfcf;
	width:80px;
	margin:5px 0px;
	height:20px;
	line-height:20px; 	
}
.records_perpage_right{
	width:200px;
	float:right;
	margin-bottom:10px;
}
.records_perpage_right input{
	-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	border:1px solid #d1cfcf;
	margin:5px 0px;
	height:20px;
	line-height:20px;	
}
#main_table{
	border-left:1px solid #d1cfcf;
	border-top:1px solid #d1cfcf;
	border-bottom:1px solid #d1cfcf;		
}
	
.tabel_content_main{
	border-top:1px solid #d1cfcf;
	float:left;
	width:98%;
	margin-left:15px;
	margin-top:15px;
	padding-top:10px;
}
.category_heading{
	height:34px;
	text-align:center;
	color:#585454;
	background:#dcecf4;
	font-size:17px;
	line-height:34px;
	border-right:1px solid #d1cfcf;	
	border-bottom:1px solid #d1cfcf;
}
.category_heading a{
	color:#585454;
	display:block;
	background:#dcecf4;
}
.category_heading a:hover{
	color:#333;
	background:#efefef;
}
.sub_category_heading{
	height:34px;
	text-align:center;
	font-size:15px;
	color:#585454;
	background:#e9f3f8;
	line-height:34px;
	border-right:1px solid #d1cfcf;	
	border-bottom:1px solid #d1cfcf;		
}
.sub_category_heading a{
	color:#585454;
	display:block;
	background:#dcecf4;
}
.sub_category_heading a:hover{
	color:#333;
	background:#efefef;
}
.tabel_grid_white{
	text-align:center;
	font-size:13px;
	line-height:34px;
	height:34px;
	color:#585454;
	background:#fff;
	border-right:1px solid #d1cfcf;	
	border-bottom:1px solid #d1cfcf;
}
.tabel_grid_white a{
	color:#585454;
	display:block;
	background:#fff;
}
.tabel_grid_white a:hover{
	color:#585454;
	background:#efefef;
}
.tabel_grid_gray{
	text-align:center;
	font-size:13px;
	line-height:34px;
	height:34px;
	color:#585454;
	background:#f9f9f9;
	border-right:1px solid #d1cfcf;	
	border-bottom:1px solid #d1cfcf;
}
.tabel_grid_gray a{
	color:#585454;
	display:block;
	background:#f9f9f9;
}
.tabel_grid_gray a:hover{
	color:#585454;
	background:#efefef;
}
.pagination_main{
	float:left;
	width:100%;
}
.pagination_left{
	float:left;
	width:250;
}
.pagination_right{
	float:right;
	width:322px;
}
#pagination .container {
  width: 400px;
  text-align: center;
}
.pagination {
  padding: 8px;
  background-clip: padding-box;
  border-radius: 3px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;

}
.pagination > a, .pagination > span {
  float: left;
  margin-left: 5px;
  padding: 0 6px;
  min-width: 17px;
  line-height: 27px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #269dc7;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor:text;
}
.pagination :first-child {
  margin-left: 0;
}
.pagination > a {
  text-decoration: none;
  background-clip: padding-box;
  
}
.pagination > a:hover {
  background-color: #efefef;
  color:#333;
}
.pagination > span, .pagination > a:active {
  color: #666;
  background: #f5f5f5;
 
}
.pagination .prev, .pagination .next {
   font-size: 12px;
   color:#666;
   font-family:Arial, Helvetica, sans-serif;
}
.pagination .next {
   font-size: 12px;
   color:#269dc7;
}
.social_good{
	color:#269dc7;
	font-size:15px;
	line-height:35px;
	height:35px;
}
.social_good a{
	color:#269dc7;
	text-decoration:none;
}
.social_good a:hover{
	color:#666;
	text-decoration:underline;
}
.dark_gray{
	color:#333;
	font-size:12px;
	line-height:40px;
	height:40px;
}
.work_graph{
	width:100%;
	text-align:center;
	margin-top:25px;
	float:left;
}
.work_graph2{
	width:100%;
	text-align:center;
	margin-top:25px;
	margin-bottom:25px;
	float:left;
}
#inner_footer_main{
	width:100%;
	float:left;
	height:82px;
}
#inner_footer_wrap{
	width:100%;
	background:#333;
	}
#inner_footer_content_area{
	width:998px;
	margin: 0 auto;
	text-align:center;
}
#inner_footer_content_area img{
	margin-top:35px;
}
.inner_footer_logo{
	width:100%;
	float:left;
}
.inner_footer_social{
	width:100%;
	text-align:center;
	padding-bottom:15px;
}
.inner_footer_social img{
	margin-top:5px;
	padding-right:5px;
}
.profile_content_main{
	float:left;
	width:718px;
	margin-left:15px;
	min-height: 400px;
}
.inner_wide{
	float:left;
	width:100%;
}
.profile_content_left{
	float:left;
	width:518px;
}
.profile_content_right{
	float:right;
	width:200px;
}
.profile_content_right img{
	float:right;
	border:solid 2px #d2d7db;
	margin-top:10px;
}
.profile_content_right p{
	color:#269dc7;
	padding-left:25px;
	padding-top:8px;
	float:left;
	width:100%
}
.profile_content_right p a{
	color:#269dc7;
	text-decoration:none;
}
.profile_content_right p a:hover{
	color:#269dc7;
	text-decoration:none;
}
.profile_content_right p span{
	color:#269dc7;
	float:left;
	width:100%;
	position:relative;
}
.file{
	/*opacity: 0;*/
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
	/*position:absolute;*/
}
.profile_content_right .about_me{
	margin-top:5px;
	margin-left: 26px;
	padding:8px;
	border:solid 1px #e6e7e8;
	float:left;
	color:#666;
	line-height:18px;
	width:80%;
	text-align:justify;
}
.profile_content_right h3{
	font-size:14px;
	float:left;
	font-weight:bold;
	color:#737c80;
	margin-top:20px;
	margin-left: 26px;
}
.profile_content_right h4{
	font-size:12px;
	float:left;
	color:#737c80;
	margin-top:20px;
	margin-left:80px;
}
.profile_content_right h4 a{
	font-size:12px;
	text-decoration:none;
	color:#269dc7;
	font-weight:normal;
}
.profile_content_right h4 a:hover{
	text-decoration:underline;
	color:#269dc7;
}
.sub_heading{
	width:100%;
	padding:0px;
	margin:0px;	
	font-family: 'Conv_FuturaLT';
	font-size:25px;
	line-height:30px;	
	color:#737c80;
	font-weight:100;
	float:left;
}

.profile_content_main .main_heading_gray{
	width:480px;
	font-family: 'Conv_FuturaLT';
	font-size:38px;
	color:#737c80;
	font-weight:100;
	margin-top: 11px;
	text-transform:uppercase;
}
.profile_content_main .main_heading_gray2{
	width:680px;
	font-family: 'Conv_FuturaLT';
	font-size:38px;
	color:#737c80;
	font-weight:100;
	margin-top: 11px;
	text-transform:uppercase;
}
.profile_content_main td .input{
	border:inset 1px #e5e7e9;
	padding:2px;
	margin-top:5px;
	margin-bottom:5px;
	height:20px;
	width:180px;
}
.profile_content_main td{
	color:#737c80;
}
.profile_content_main select{
	width:257px;
	height:25px;
	color:#666;
	border:inset 1px #e5e7e9;
}
.profile_content_main td img{
	border:none;
}
.profile_content_main textarea{
	width:257px;
	height:120px;
	color:#666;
	border:inset 1px #e5e7e9;
	margin-top:5px;
	margin-bottom:5px;
}
.profile_content_main .submit_bnt{
	width:335px;
	height:40px;
	color:#fff;
background: #68b8dd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4YjhkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzg5YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #68b8dd 0%, #0789c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68b8dd), color-stop(100%,#0789c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #68b8dd 0%,#0789c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #68b8dd 0%,#0789c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #68b8dd 0%,#0789c6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #68b8dd 0%,#0789c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b8dd', endColorstr='#0789c6',GradientType=0 ); /* IE6-8 */
-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
border:none;
text-shadow:1px 1px 1px #666;
font-weight:bold;
cursor:pointer;
margin-top:25px;
}
.gray_text{
	color:#666;
	line-height:18px;
	text-align:justify;
	text-decoration:none;
	float:left;
	width:100%;
	font-size:13px;
}
.gray_text img{
	float:left;
	padding-right:10px;
	padding-top:5px;	
}
.img_left
{
	float:left;
	width:auto;
	margin-right:10px;
	padding-left: 5px;
}
.text_img
{
	float:left;
	width:70%;
	margin-top:25px;
}
.img_right
{
	float:right;
	width:auto;
	margin-left:10px;
}
.text_right
{
	text-align:right;
	float:right;
	width:70%;
	color:#666;
	margin-top:25px;
}

.img_text_outer
{
	float:left;
	width:26%;
}
.img_text_icon
{
	float:left;
	width:100%;
	margin-top:10px;
}
.img_text_icon a
{
	float:left;
	width:auto;
	margin-left:10px;
}
.text_outer
{
	float:left;
	width:70%;
}
.img_textright_outer
{
	float:right;
	width:26%;
}
.textright_outer
{
	float:left;
	width:70%;
}
#overlay_form{
	background:url(../img/logo_trans.png) #fff no-repeat center;
	border: 5px solid gray;
	padding: 10px;
	width: 520px;
	height: 210px;
}
#close{
	float: right;
	color: #666;
}
.orange_text{
	font-size:14px;
	color:#ff8000;
	font-weight:bold;
	line-height:18px;
	text-align:left;
	text-decoration:none;
	display:block;
	background:#efefef;
	padding:6px;
	border:solid 1px #d1cfcf;
	margin-bottom:5px;
}
.orange_text a{
	font-size:14px;
	color:#ff8000;
}
.newboxes{
	color:#666;
	line-height:18px;
}
.rslides{
	padding-top:188px;
	font-size: 15px;
	line-height: 20px;
	width:195px;
	margin:auto;
}
.rslides h2{
	font-family: 'Conv_FuturaLT';
	font-size:18px;
	color:#1b2652;
	text-align:center;
	float:left;	
	font-weight:100;
	width:100%;
	line-height:30px;
}
/*extra required styles*/
label.error{color: #ff0000;
width:300px;
}
#user_signup .error{float: left;}
.login_main #flashMessage,.login_main #authMessage{ color: #FF0000;
    margin: 0 166px -19px;}
.checkbox{float:left;width:175px;margin:3px 0;}
.checkbox label{margin-left: 5px;}
.checkbox input.error{margin:0px !important;}
.checkbox label.error{float: left;margin: 134px 0 0;position: absolute;}
.sign{
	background:url(../img/submit_btn.jpg) no-repeat;
	width:340px;
	height:44px;
	border: none;
	cursor: pointer;	
}
.profile_content_main #flashMessage{color: #FF0000;margin: 10px 0 0;}
div.file{margin:10px;padding:10px}
div.file label{margin:10px;}
